{% include "header.html" %}
<header
        class="masthead"
        style="background-image: linear-gradient(to right, #000080, #191970, #4B0082)"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>About</h1>
          <span class="subheading"><br></span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
    <div class="row justify-content-space-between">
        <div class="col-md-9">
            <h1>Thomas "Tommy" Engels</h1>
            <h4>Senior Product Manager and Software Developer</h4>
            <p><a href="mailto:tbengels@gmail.com" style="text-decoration: none;">tbengels@gmail.com</a> | (651) 395
                1906</p>
            <p><i class="fa-solid fa-location-dot fa-lg p-1" style="color: #e70d0d;"></i> Golden, Colorado, USA</p>
        </div>
        <div class="col-md-3 m-0 p-0 d-flex justify-content-center align-items-center">
            <img class="m-0 p-0" src="static/assets/img/headshot_og.jpg"
                 style="border-radius: 50%; width: 250px; height: 250px"
                 alt="Profile Picture">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-9">
            <h2 class="mb-4">Summary</h2>
            <p>
                Senior IT Product Manager and Software Engineer at Keysight with 4 years of experience, leading the
                modernization of Keysight’s CI/CD platform; improving the development experience for 5,000 R&D
                engineers. Accelerating numerous project management tasks via coding and APIs whenever possible.
                Co-led a team of 18 engineers to successfully modernize Keysight’s software licensing tool, which
                generates $2B in annual revenue. Led a cross-functional team of engineers, lawyers, security
                officers, and business leaders in successfully upgrading our E911 calling system across 40 North
                American sites.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h2>Skills</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Product Management</li>
                    <li class="list-group-item">Python-Flask</li>
                    <li class="list-group-item">REST APIs</li>
                    <li class="list-group-item">HTML/CSS/JS</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Experiences -->
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-4">Experience</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Senior IT Product Manager and Software Engineer</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Keysight Technologies, Colorado | September 2022 –
                        Present</h6>
                    <ul class="card-text">
                        <li>Leading the modernization of Keysight’s DevOps CI/CD platform to increase
                            reliability, security, observability, and application performance, satisfying
                            99.9% uptime; converting business requests into engineering tasks, managing the
                            backlog and timeline, maintaining alignment with business leaders via
                            presentations and reports.
                        </li>
                        <li>Improved the safety of 6,000 employees and complied with federal regulations,
                            Ray Baum’s Act and Kari’s Law, by leading an E911 upgrade across 40 North
                            American offices; involving a 15-person team of engineers, physical security
                            personnel, legal, and senior business leaders.
                        </li>
                        <li>Streamlined customer engagement through an automated emailing tool that can send
                            rapidly hundreds of personalized emails using Python.
                        </li>
                        <li>Audited hundreds of Jenkins controllers for risky plugins and cleanly aggregated
                            the compliance data; supporting enterprise cyber security requirements (a.k.a.,
                            NIST-800 SSDF) using Python.
                        </li>
                        <li>Automated our SRE Change Review Board submission process through Python and
                            Atlassian APIs to save ~10 hours of manual work per week.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Intermediate Software Engineer</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Keysight Technologies, Colorado | August 2021 – August
                        2022</h6>
                    <ul class="card-text">
                        <li>Created and led the Agile team model for modernizing a $2B revenue software
                            licensing tool, involving 18 core team members and 90,000+ internal/external
                            end-users; delivered the project 90 days early.
                        </li>
                        <li>Designed GIT branching strategies for various software teams to support seamless
                            software delivery.
                        </li>
                        <li>Pioneered a 5-person technical and behavioral evaluation process for intern and
                            junior engineer candidates; standardized and biases-minimized.
                        </li>
                        <li>Led our software engineering intern program for 6 interns and 6 mentors for
                            second year in a row.
                        </li>
                        <li>Engaged DEI goals by recruiting a software engineering applicant pool with 63%
                            diverse representation through LinkedIn and in-person college fairs.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Junior Software Engineer</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Keysight Technologies, Colorado | June 2020 – July
                        2021</h6>
                    <ul class="card-text">
                        <li>Programmed an asset management tool for 36,000 devices, replacing thousands of
                            manual emails, using Python-Django.
                        </li>
                        <li>Built a software engineering intern program from scratch; defined intern project
                            outcomes and mentor-intern pairings for 6 interns.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <!--    Education-->
    <div class="row mb-4">
        <div class="col-md-12">
            <h2 class="mb-4">Education</h2>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Bachelor of Science in Mathematics-Computer Science</h4>
                    <h5 class="card-subtitle mb-2"> Minor in <a
                            href="https://www.gonzaga.edu/school-of-leadership-studies/academics/comprehensive-leadership-program">
                        Comprehensive Leadership </a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">3.5 GPA | Gonzaga University | 2016 - 2020</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
